/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
  padding-bottom: 40px;
}

.section-1 {
  display: flex;
  align-items: center;
  padding-left: 210px;
  padding-right: 210px;
  padding-top: 18px;
  padding-bottom: 130px;
}

.section-1 .header-logo {
  color: #f9faf8;
  font-weight: bold;
  font-size: 24px;
  margin-right: auto;
}

.section-1 .header-link a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

.link-wrapper {
  display: flex;
  gap: 22px;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 210px;
  padding-right: 210px;
}

.section-2 h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 800;
}

.section-2 p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 8px;
  margin-bottom: 15px;
}

.section-2 button {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 8px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.section-2 button:hover {
  background-color: #f9faf8;
  color: #3882f6;
}

.section-2 .hero-text {
  flex-basis: 50%;
  padding-right: 80px;
}

.section-2 .hero-image {
  align-self: center;
  flex-basis: 50%;
}

.section-2 .hero-image img {
  height: 100%;
  width: 100%;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.section-3 h1 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-3 .image-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 210px;
  padding-right: 210px;
}

.section-3 .image-wrapper .image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 2 20%;
  margin: 10px;
}

.section-3 .image-wrapper .image-box .image {
  border: 4px solid #3882f6;
  background-position: center;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.section-3 .image-wrapper .image-box p {
  width: 50%;
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  color: #1f2937;
}

.section-3 .image-wrapper .image-box .first {
  background-image: url(/images/coding2.jpg);
}

.section-3 .image-wrapper .image-box .second {
  background-image: url(/images/coding3.jpg);
}

.section-3 .image-wrapper .image-box .third {
  background-image: url(/images/coding4.jpg);
}

.section-3 .image-wrapper .image-box .fourth {
  background-image: url(/images/coding5.jpg);
}

.section-4 {
  background-color: #e5e7eb;
  padding-top: 110px;
  padding-bottom: 110px;
}

.section-4 .quote-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 550px;
  margin-left: 550px;
}

.section-4 .quote-wrapper .quote-text {
  align-self: flex-start;
}

.section-4 .quote-wrapper .quote-text p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  text-align: start;
}

.section-4 .quote-wrapper .quote-author {
  align-self: flex-end;
}

.section-4 .quote-wrapper .quote-author p {
  color: #1f2937;
  font-size: 24px;
  font-weight: bold;
  text-align: end;
}